
<div class="footerWrapper" id="footer1">

		<div class="footer dark">

				<div class="container">
						<div class="row">
								<div class="col-md-6 col-md-offset-3 text-center social">

										<p><span class="editContent">Copyright © 2015 SmartPack. Designed and Developed by</span> <a href="#" class="author">Bogdan</a>.</p>

								</div><!-- /.col -->
						</div><!-- /.row -->
				</div>

		</div><!-- /.footer -->

</div><!-- /.footerWrapper -->


<!-- Load JS here for greater good =============================-->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-select.js"></script>
<script src="js/bootstrap-switch.js"></script>
<script src="js/responsiveslides.min.js"></script>
<script src="js/jquery.scrollTo-min.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>

<!-- begin layerslider script-->
<script src="js/greensock.js"></script>
<script src="js/layerslider.transitions.js"></script>
<script src="js/layerslider.kreaturamedia.jquery.js"></script>

<script src="js/custom.js"></script>

</body></html>
